<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testometer">
  <test thread-count="5" name="Morning Batch-Test1">
    <classes>
      <class name="pack1.TestClass2"></class>  
      <class name="pack1.TestClass1"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Morning Batch-Test2">
	  <classes>
		  <class name="pack1.TestClass3"></class>
	  </classes>
  </test>
  
</suite> <!-- Suite -->
